 .body
 {
     background-image: url('/style/MasterPage/skulls.png');
     margin:0px;
     overflow:scroll;
 }
.logo
{
    float:left;
}
#imgGallery
{
    
    width:1200px;
    height:505px;
    margin-left: auto;
    margin-right:auto;
    margin-top:20px;
}
#container
{
    border-radius:10px;
    padding:10px;
    background-color:White;
    float:left;
    display:block;
}
#mainGrid
{
    max-width:450px;
    max-height:505px;
    background-color:Aqua;
    display:inline-block;
}

#secondGrid
{
    max-width:350px;
    max-height:505px;
    background-color:Lime;
    display:inline-block;
}
#thirdGrid
{
    max-width:220px;
    display:inline-block;
}
#upgrid
{
    max-width:220px;
    max-height:240px;
    background-color:Green;
    display:inline-block;
    position:relative;
    padding-bottom:10px;
}
#downgrid
{
    max-width:220px;
    max-height:240px;
    background-color:Maroon;
    margin-top:5px;
    display:inline-block;
    position:relative;
}
