.logo
{
    float: left;
}
.leftRepeater
{
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #E1DFDF;
    border-width: thin;
}
.RepeaterTopHeader
{
    font-family: Tahoma;
    color: Silver;
}
.leftRepeaterTextHeader
{
    font-family: Calibri;
    color: Black;
    font-size: 20px;
}
.leftRepeaterTextDescription
{
    font-family: Tahoma;
    color: Silver;
    font-size: 15px;
}
.divLeft
{
    display:inline-block;
    position:static;
    float: left;
    height: auto;
    width:600px;
    overflow:auto;
}
.divLeft .image
{
    max-width: 170px;  
    max-height: 170px;  
    float: left;
    margin-right:10px;
}
.divRight
{
    display:inline-table;
    position: static;
    margin-left: 10px;
    margin-right: auto;
    float: left;
    height: auto;
    max-width: 300px;
    border: 3px #ffffff solid;
    border: 3px #ffffff solid;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 1px 1px #fdfcfc;
    -webkit-box-shadow: 0px 0px 1px 1px #fdfcfc;
    box-shadow: 0px 0px 1px 1px #fdfcfc;
}
.divLeft .layout
{
    display:inline-table;
    float:left;
    margin-bottom:10px;
    margin-left: 25px;
    margin-right: auto;
    height: auto;
    max-width: 640px;
    border: 3px #ffffff solid;
    border: 3px #ffffff solid;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 1px 1px #fdfcfc;
    -webkit-box-shadow: 0px 0px 1px 1px #fdfcfc;
    box-shadow: 0px 0px 1px 1px #fdfcfc;
}

.divMiddle
{
    display:inline-table;
    position: static;
    margin-left: 10px;
    margin-right: 10px;
}

.rightRepeater
{
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #E1DFDF;
    border-width: thin;
}
.rightRepeaterTextHeader
{
    text-align:left;
    font-family: Calibri;
    color: Black;
    font-size: 20px;
}
.Collage
{
    /* define how much padding you want in between your images */
    padding: 10px;
    margin: 30px;
}

.Collage img
{
    /* ensures padding at the bottom of the image is correct */
    vertical-align: bottom; /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity: 0;
}
.Collage div img
{
    /* ensures padding at the bottom of the image is correct */
    vertical-align: middle; /* hide the images until the plugin has run. the plugin will reveal the images*/
}
.Image_Wrapper
{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity: 0;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-height: 400px;
    max-width: 400px;
}
